<div class="sidebar-wrapper">
  <div class="isMobileMenu">
        <div class="logo">
                <a href="#" class="simple-text">
                <img src="/assets/img/edufavicon.png" class="logo-img"/>
                   EDU BLOCKS
                </a>
            </div>
     </div>
    <ul class="nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <span class="hide-menu">Dashboard</span>
                </a>
            </li>
          <li class="nav-item landOwner" routerLinkActive="active">
                    <a class="nav-link" routerLink="/land-record">
                        <i class="material-icons">library_books</i>
                        <span class="hide-menu">Land Record</span>
                    </a>
           </li>     
       <li class="nav-item civilOwner" routerLinkActive="active">
            <a class="nav-link" routerLink="/my-document">
                <i class="material-icons">library_books</i>
                <span class="hide-menu">Civil Certificate</span>
            </a>
      </li>
     <!-- <li class="nav-item civilOwnership" routerLinkActive="active">
                <a class="nav-link" routerLink="/civil-ownership-detail">
                 <span class="hide-menu">- Ownership Details</span>
                </a>
    </li> -->
</ul>
</div>

 