
<div class="main-content">
   <div class="container-fluid">
            <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
             <div class="issuing">
                 <div class="titleHeadissue">
              <i class="material-icons mr-2" style="float:left;">assignment_turned_in</i> 
                 Civil Owner Details
             </div>
               </div>
            </div>
         </div>
      <div class="table-responsive">
                     <table class="table table-bordered">
                       <tr>
                           <th style="width:600px">
                             Owner Id
                           </th>
                           <th>
                              1
                           </th>
                        </tr>
                       
                       <tr>
                           <th style="width:600px">
                              Name
                           </th>
                           <th>
                            TEST
                           </th>
                        </tr>
                         <tr>
                           <th style="width:600px">
                            Father Name
                           </th>
                           <th>
                             Test2
                           </th>
                        </tr>
                         <tr>
                           <th style="width:600px">
                              Father Name
                           </th>
                           <th>
                              Test2
                           </th>
                        </tr>
                         <tr>
                           <th style="width:600px">
                             GovernmentId
                           </th>
                           <th>
                              110059
                           </th>
                        </tr>
                         <tr>
                           <th style="width:600px">
                            Mobile Number
                           </th>
                           <th>
                              89898989
                           </th>
                        </tr>
                         <tr>
                           <th style="width:600px">
                            Current Address
                           </th>
                           <th>
                             Rajendra Nagar
                           </th>
                        </tr>
                        
                           <tr>
                           <th style="width:600px">
                            Country
                           </th>
                           <th>
                             India
                           </th>
                        </tr>
                          
                           <tr>
                           <th style="width:600px">
                            State
                           </th>
                           <th>
                             Delhi
                           </th>
                        </tr>

                           <tr>
                           <th style="width:600px">
                            Postal Code
                           </th>
                           <th>
                             110059
                           </th>
                        </tr>
                           <tr>
                           <th style="width:600px">
                            Email
                           </th>
                           <th>
                             test@yopmail.com
                           </th>
                        </tr>
                           	
                     </table>
                  </div>
     
   </div>
</div>